mixin employeeForm(url, employee, jobtitles, stateslist)

    form(action=url method='post')
        label(for='firstname') First Name:
        input(id='firstname' name='firstname' type='text' value=employee.firstname)

        label(for='lastname') Last Name:
        input(id='lastname' name='lastname' type='text' value=employee.lastname)

        label(for='jobtitle') Job Title:
        select(id='jobtitle' name='jobtitle')
            each title in jobtitles
                option(value=title selected=employee.jobtitle===title) #{title}

        div.address
            div.streetline
                div.streetline1
                    label(for='streetline1') Street Line 1:
                    input(id='streetline1' name='streetline1' type='text' value=employee.streetline1)

                div.streetline2
                    label(for='streetline2') Street Line 2:
                    input(id='streetline2' name='streetline2' type='text' value=employee.streetline2)
            div.territory
                div.city
                    label(for='city') City:
                    input(id='city' name'city' type='text' value=employee.city)


